body {
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

.sandbox {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  --toastify-color-success: #333;
}
.module-grid {
  padding: 10px;
  background-color: rgba(40, 40, 40, 0.9);
  border-radius: 15px;
  height: 35em;
}

.error-message {
  color: red;
  margin-top: 5px;
}
.sandbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-button,
.save-button {
  padding: 10px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3aa0ac;
  background-color: #252525;
  color: #3aa0ac;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  margin: 0;
}

.import-input {
  display: none; /* Hide the input visually */
}
.notification-success {
  background-color: #3aa0ac;
  color: #252525;
}
div[class^="rnc__notification-container--"] {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
div[class^="rnc__notification-container--"]:has(> .rnc__notification) {
  visibility: visible;
  opacity: 1;
}