/* Layout.css */

.layout-container {
    position: relative; /* Ensure children can be positioned relative to this container */
  }
  
  
  .content {
    position: relative; /* Ensure content is positioned relative to layout container */
    padding-top: 38px; /* Adjust based on header height */
  }
  