.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative; /* Ensure the close button is positioned relative to the modal content */
  background: #222;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  border: 1px solid #3aa0ac;
  min-width: 350px;
}

.modal-info {
  margin-bottom: 10px;
  margin-top: 0px;
}

.modal-input {
  width: 50px;
  text-align: center;
  background-color: #333;
  border: none;
  color: #3aa0ac;
  outline: none; /* Remove white outline */
  appearance: none;;
  -webkit-appearance: none; /* Remove up/down buttons in Chrome/Safari */
  -moz-appearance: textfield; /* Remove up/down buttons in Firefox */
  padding: 5px; /* Add some padding for better look */
  border-radius: 3px; /* Slightly round corners */
  font-size: 16px; /* Increase font size for better readability */
}

.modal-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Remove margin in Chrome/Safari */
}

.modal-remove-button {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: #522;
  color: #fff;
  border: solid 2px #f00;
  border-radius: 5px;
  width: 40px; 
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-close-button,
.modal-save-button {
  position: absolute;
  bottom: -20px;
  background: #444;
  color: #fff;
  border: solid 1px #3aa0ac;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal-close-button span,
.modal-save-button span {
  position: absolute;
  top: -5%;
}

.modal-close-button:hover,
.modal-save-button:hover {
  background: #666;
}
.modal-close-button {
  left: 5%;
}
.modal-save-button {
  right: 5%;
}

.no-scroll {
  overflow: hidden;
}
