.module-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.module-controls {
    display:flex;
    align-self: center;
    align-items: center;
    text-align: center;
}

.module-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.filter-dropdown {
    font-size: 16px;
    align-items: center;
    align-self: center;
    text-align: center;
    height: 40px;
    border: 1px solid #3aa0ac;
    background-color: #252525;
    color: #5F8589;
    transition: box-shadow 0.3s, border-color 0.3s, background-color 0.2s;
    margin: 0;
}
.search-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: 16px;
    min-width: 250px;
    height: 40px;
    border: 1px solid #3aa0ac;
    background-color: #252525;
    color: #5F8589;
    transition: box-shadow 0.3s, border-color 0.3s, background-color 0.2s;
    margin: 0;
}

.descendant-search,
.weapon-search,
.module-search {
    position: relative;
    display: inline-flex;
}
.descendantsearch-input,
.weaponsearch-input,
.modulesearch-input {
    font-size: 16px;
    align-items: center;
    align-self: center;
    text-align: center;
    min-width: 250px;
    height: 40px;
    border: 1px solid #3aa0ac;
    background-color: #252525;
    color: #5F8589;
    transition: box-shadow 0.3s, border-color 0.3s, background-color 0.2s;
    margin: 0;
}
.descendantsearch-input:focus,
.weaponsearch-input:focus,
.modulesearch-input:focus {
    outline: none;
    background-color: #333;
}

.search-results {
    position: absolute;
    top: calc(100% + 10px);
    /* Position below the input */
    left: 0;
    width: 100%;
    max-height: 200px;
    /* Adjust max-height as needed */
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1000;
    /* Ensure it overlays other content */
}
.descendant-list,
.weapon-list,
.module-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.descendant-list li,
.weapon-list li,
.module-list li {
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #222;
}
.descendant-list li:hover,
.weapon-list li:hover,
.module-list li:hover {
    background-color: #222;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.error-message {
    color: red;
    margin-top: 5px;
}
.module-grid-container {
    display: grid;
    grid-template-columns: 2;
    align-items: flex-start;
    margin-top: 2em;
}
.expand-box {
    margin-left: 20px;
    padding: 10px;
    height: 35em;
    margin-top: 2em;
    min-width: 25em;
    background-color: rgba(40, 40, 40, 0.9);
    border-radius: 15px;
    grid-column: 2;
    text-align: center;
    
}
.stats-container {
    width: 100%;
    text-align: center;
    border: 1px solid #3aa0ac;
    border-radius: 5px;
  }
  
  .stats-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .stats-table th, .stats-table td {
    border: 1px solid #3aa0ac;
    padding: 8px;
    text-align: left;
  }
  
  .stats-table th {
    background-color: #333;
  }

.module-drain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: #3aa0ac 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 40px;
    background-color: #333;
}
.level-input {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 1px solid #3aa0ac;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    background-color: #333;
    color: #3aa0ac;
    margin-bottom: 20px;
    width: 100%;
}
.level-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 35px;
    background: #3aa0ac;
    cursor: ew-resize;
    border-radius: 3px;
}
.level-input::-moz-range-thumb {
    width: 15px;
    height: 35px;
    background: #3aa0ac;
    cursor: ew-resize;
    border-radius: 3px;
}


.import-input {
    display: none;
    /* Hide the input visually */
}